ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS twitch_id TEXT;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS twitch_username TEXT;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS streamelements_id TEXT;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS twitch_subscription_data JSONB;
